<%- include("partials/header") %>
<%
var user_id , user_username;
%>
<script>
</script>
<div style=" display: block; height: 500px;">
<%= "HELLO " + user_id %>
</div>
<%- include("partials/footer") %>
