<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/fontstyle.css">
    <link rel="stylesheet" href="/loading.css">
    <style>
        body{
            overflow-x: hidden;
        }
        .policy{
            overflow: hidden;
            width: 50%;
            min-width: 330px;
            display: block;
            padding: 20px;
            background: white;
            margin: 30px auto;
            position: relative;
        }
        h1{
            margin: 0%;
            padding: 0%;
        }
        p{
            white-space: pre-line;
        }
    </style>
</head>
<body>
    <div class="policy">
        <h1>นโยบายข้อมูล</h1>
        <p>
            เราเคารพสิทธิความเป็นส่วนตัวของทุกท่านที่ใช้บริการเว็บไซต์ของเรา ดังนั้น เราจึงต้องการที่จะชี้แจงให้ท่านทราบเกี่ยวกับ การใช้งานข้อมูลส่วนบุคคลของท่าน เราขอแนะนำให้ท่านอ่านข้อความต่อไปนี้ เมื่อท่านยอมรับและสมัครเป็นสมาชิกกับเราแล้ว เราจะถือว่าท่านยินยอมให้เราเข้าถึงและเปิดเผยข้อมูลของท่านได้ในกรณีที่จำเป็นและสมควร
            1. การลงทะเบียนสมัครเป็นสมาชิกเพื่อใช้บริการเว็บไซต์นี้ ท่านจะต้องเป็นบุคคลากรของมหาวิทยาลัยศรีนครินทรวิโรฒ โดยเราจะขอเก็บรวบรวมข้อมูลส่วนตัวของท่านบางส่วน เพื่อใช้ในการวิเคราะห์ ประมวลผล และดำเนินการเกี่ยวกับการให้บริการแจ้งซ่อมและนำข้อมูลการแจ้งซ่อมของท่านไปใช้ในการสรุปผลการดำเนินการซ่อม 
            2. เมื่อท่านเข้าใช้งานเว็บไซด์ ข้อมูลการใช้งานของท่าน เช่น ชื่อผู้ใช้ ระยะเวลาการใช้งาน เป็นต้น จะถูกบันทึกผ่านทาง Cookies หรือ Session ซึ่งระบบจะทำการเก็บข้อมูลเหล่านี้ระหว่างท่านเข้าใช้งานโดยอัตโนมัติ
            3. หากท่านมีชื่อผู้ใช้และรหัสผ่านสำหรับเข้าใช้บริการเว็บไซต์ ท่านมีหน้าที่ที่จะเก็บรักษาข้อมูลดังกล่าวของท่านให้ปลอดภัยและเป็นความลับ เพื่อที่จะป้องกันบัญชีของท่านจากผู้อื่นที่ไม่มีอำนาจ ระบบเว็บไซต์จะทำการนำท่านออกจากระบบโดยอัตโนมัติเมื่อผ่านไปหนึ่งวัน
            4. หากท่านทำการเชื่อมโยงไปยังเว็บไซต์อื่นๆ นอกเว็บไซต์นี้ เราไม่มีส่วนในความรับผิดชอบใดๆ เกี่ยวกับข้อมูลส่วนบุคคลของท่านในการใช้บริการเว็บไซต์นั้นๆ ทั้งนี้ กรุณาอ่านและทำความเข้าใจนโยบายความเป็นส่วนตัวของเว็บไซต์ที่ท่านเข้าเยี่ยมชมหรือเข้ารับบริการดังกล่าวทุกครั้ง
            
            ระบบแจ้งซ่อมครุภัณฑ์ อุปกรณ์การเรียนการสอน และอาคาร
            วิทยาลัยนวัตกรรมสื่อสารสังคม มหาวิทยาลัยศรีนครินทรวิโรฒ
        </p>
    </div>
</body>
</html>