<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="circle.css">
    <style>
        *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: blue;
}
.circle{
    display: inline-block;
    margin: 2%;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background: black;

}
.centerxy{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.white{
    position: relative;
    z-index: 105;
}
.blue{
    position: relative;

    z-index: 101;
}
.red{
    position: relative;

    z-index: 102;
}
.yellow{
    position: relative;

    z-index: 103;
}
.lblue{
    position: relative;

    z-index: 104;
}
.endtext{
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    opacity: 0;
}
.pagetransition{

    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
}

@media only screen and (max-width: 480px) {

.circle{
    display: block;
    margin: 3% auto;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background: black;

}
}


    </style>
</head>
<body>
    <div class="pagetransition">
    <div class="centerxy">
    <div class="circle blue" style="background-color:#273253;"></div>
    <div class="circle red" style="background-color: #ed5c4d;"></div>
    <div class="circle white" style="background-color: #f4e9da;"></div>
    <div class="circle yellow" style="background-color: #ebbe4d;"></div>
    <div class="circle lblue" style="background-color: #57B5Ed;"></div>
    </div>
    <div class="endtext centerxy">เข้าสู่ระบบสำเร็จ</div>
    </div>

    <div class="content">
        
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CustomEase.min.js"></script>
    <script src="/js/animationload.js"></script>
</body>
</html>