.confirmemail{
    display: block;
    position: fixed;
    top: 0%;
    z-index: 100;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#confirmbox{
    width: 320px;
    display: block;
    padding: 30px;
    background: white;
    position: fixed;
    z-index: 500;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    text-align: center;
}

.confirmsection input{
    margin-top: 10px;
    outline: 0;
    border: 1px solid gray;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
}

button.confirm{
    outline: none;
    background: rgb(4, 72, 161);
    padding: 8px 0;
    margin:5px;
    margin-top: 10px;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
button.cancel{
    background: rgb(163, 36, 36);
    padding: 8px 0;
    margin:5px;
    margin-top: 10px;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}