@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.th.head{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

.en.error{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.en.inputlabel{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.en.notification{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.en{
    font-family: 'Roboto', sans-serif;

}


.th{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
.th.load{
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}
p.th{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

input[type="submit"]{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}