body{
    background: url(/background-01.jpg) ;
    background-attachment: fixed;
    background-size: cover;
}

input[type="submit"]{
    font-size: 20px;
    border: none;
    width: 200px;
    text-align: center;
    line-height: 50px;
    height: 50px!important;
    border-radius: 50px;
    background-color: rgb(4, 72, 161);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .3s, opacity .5s;
}
input[type="submit"]:hover{
    background-color: rgb(1, 50, 114);

}
input[type="submit"].cancel{
    font-size: 20px;
    border: none;
    width: 200px;
    text-align: center;
    line-height: 50px;
    height: 50px!important;
    border-radius: 50px;
    background-color: rgb(163, 36, 36);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .3s, opacity .5s;
}

input[type="submit"].cancel:hover{
    background-color: rgb(102, 28, 28);

}